 
 p {
	 font-family: 'Times New Roman', Times, serif;
	 font-size: 1.4em;
     color: black;
}

#base_input {
    margin: 10px;
    background-color: white;
}

#send {
    margin: 10px;
    background-color: white;
}

#myuser_name {
    margin: 5px;
    background-color: white;
}

#my_message {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    transition: width 0.4s ease-in-out;
    margin: 5px;
}

#my_message:focus {
    width: 700px;
}
