html {
  font-family: "Times New Roman";
  font-size: 15px;
  color: #444;
}

body {
  background: #504f4f;
  font-size: 1em;
  background-color: rgba(9, 30, 41, 0.878);
}

.container-calendar {
  background: #ffffff;
  padding: 15px;
  width: 500px;
  margin: 0 auto;
}

.button-container-calendar button {
  cursor: pointer;
  background: #000000;
  color: #fff;
  border: 1px solid #000000;
  border-radius: 4px;
  padding: 5px 5px;
}

.table-calendar {
  border-collapse: collapse;
  width: 100%;
}

.table-calendar td, .table-calendar th {
  padding:  7px;
  border: 1px solid #7c7474;
  text-align: center;
}

.day_style_selected {
  text-align: center;
  font-weight: bold;
  color: rgb(0, 145, 255);
}

.weekend_style {
  text-align: center;
  font-weight: bold;
  color: red;
}

#monthAndYear {
  text-align: center;
  margin-top: 0;
}

.button-container-calendar {
  position: relative;
  margin-bottom: 1em;
  
  overflow: hidden;
  clear: both;
}

#previous {
  float: left;
}

#next {
  float: right;
}

.change-month select {
  margin-top: 10px;

  background: #ffffff;
  color: black;
  border: 1px solid black;
  border-radius: 3px;
  padding: 5px 1em;
}